{% extends "bootstrap/base.html" %}

{% block content %}
    <button class="btn btn-primary" onclick="test()">Test Ajax</button>
    <div class="col-md-2"></div>
        <div class="col-md-6">
            <h2>Nice</h2>
            <br />
            <a href="/authresponse/getTracks" class="btn btn-primary">Shfaq Kenget</a>
        </div>

{% endblock content %}

{% block scripts %}

       <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
<script>
    function test() {
       $.ajax({
           url:'/testajax',
           success:function(result){
               alert(result['emri'])
           },
           error:function(){
               alert('ka ndodhur nje gabim!')
           }
       })
    }

</script>

{% endblock %}