{% extends "bootstrap/base.html" %}

{% block content %}
    <div class="col-md-2"></div>
        <div class="col-md-6">
            <h2>Sugjerimet</h2>
            <br />
            <div id="AJAXres"></div>
        </div>
{% endblock content %}

{% block scripts %}

<script
  src="https://code.jquery.com/jquery-3.4.1.js"
  integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
  crossorigin="anonymous">
</script>

<script type="text/javascript">
    $(document).ready(function()
    {
        $.ajax(
        {
            url: "/authresponse/getSuggestionsRequest",
            type: "GET",
            success: function(resp)
            {
                $('#AJAXres').append(resp.data);
            }
        });
    });
</script>

{% endblock %}